.recuirment {
  width: 100%;
  max-width: 90vw;
  margin: 1rem auto;
  border: 1px solid var(--dark-shadow);
  box-shadow: var(--dark-shadow);
  display: grid;
  justify-items: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.recuirment-btn {
  background-color: black;
  border-radius: 23px;
  padding: 15px 25px;
  border: none;
  color: red;
  font-size: large;
  cursor: pointer;
  transition: var(--transition);
}

.recuirment-btn:hover {
  background-color: var(--clr-grey-1);
  color: var(--clr-primary-5);
}

@media screen and (min-width: 692px) {
  .recuirment-btn {
    border-radius: 23px;
    padding: 25px 45px;
  }
}
