.news {
  border: 1px solid var(--dark-shadow);
  box-shadow: var(--dark-shadow);
  width: 100%;
  max-width: 85vw;
  margin: 2rem auto;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.news > h1 {
  text-align: center;
  padding: 2rem;
}
.news > p {
  color: black;
  padding: 2rem;
}
.news > p::first-letter {
  color: rgb(244, 122, 40);
  font-size: larger;
}

.news-link {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
